<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>
   	<h2>REGISTRO</h2>
	<form action="">

  Usuario: <input type="text" id="usuario" name="usuario" placeholder="Ingrese usuario" style="width: 171px; "><br>
  Password:<input type="password" id="password" name="password" placeholder="Ingrese contraseña"><br>
  Email:<input type="email"><br>
  Edad:<input type="number" min="18" max="25"><br>
  Telefono:<input type="tel" ><br>
  Sitio favorito: <input type="url" name="sitio" style="color: Aqua; "><br><br>
  
  Localidades:<br>
   <ul>
	<input type="checkbox" name="localidad" value="BA">Buenos Aires<br>
	<input type="checkbox" name="localidad" value="RO">Rosario<br>
	<input type="checkbox" name="localidad" value="SM">San Miguel<br>
	<input type="checkbox" name="localidad" value="PA">Parana<br>
	<input type = "submit" name= "submit" value="registrarse" >
	<button style="width: 82px; ">Cancelar</button>
	
 </ul>
</form>
</body>
</html>